.item {
  background-color: teal;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 15px 15px 50px;

  border: 1px solid blue;
  border-radius: 5px;
}

.item:not(:first-child) {
  margin-left: 50px;
}

.status {
  margin-right: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
